<a href="https://colab.research.google.com/github/yahyalito/pythonwork/blob/master/Copy_of_Python_Programming_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<font color="green">*To start working on this notebook, or any other notebook that we will use in the Moringa Data Science Course, we will need to save our own copy of it. We can do this by clicking File > Save a Copy in Drive. We will then be able to make edits to our own copy of this notebook.*</font>

In [1]:
# Example 1
# Below is an example of a function - my_function.
#

# This function is called my_function and contains only one line of code
# taksed with printing.

# We define our function as shown;
# Def is the keyword used to define the function, my_function is the name of our function
# and print() is the operation that the function undertakes;
def my_function():
    print("Hello, This is from my function!")

# Upon defining the function, we can then call it as shown below
my_function()

Hello, This is from my function!

# Python Programming: Functions

## 1.0 Overview

In [6]:
import math
# Example 2
# Below is is an example of a built in function
#

# what we've done in the line below is to call the print function and passed a string Hello!. 
# We will learn more about passing to functions later in this session.
print("Hello!")

# print() is the built - in function. 
# Examples of other built - in python functions include range(), str(), max(), min() etc.

Hello!

In [0]:
# Example 3
# We can also use a function to perform a custom complex mathematical operation
# just as shown in the newtons_method function. 
# Bear with us for now, you do not necessarily need to understand what the newtons method
# which is the complex mathematical operation entails. 
# What you need to know for know isthat functions are used to perform a specific
# set of operations then return an output as shown below. 
#


def newtons_method(num, estimate):
    # Computing a new_estimate
    new_estimate = (estimate + num / estimate) / 2
    print(new_estimate)
    # Base Case: Comparing our estimate with built-in functions value
    if new_estimate == math.sqrt(num):
        return True
    else:
        # let's return our output.
        return newtons_method(num, new_estimate)
      
# As we have noticed, we defined our fuction - newtons_method, then passed num and estimate 
# to the function. These values that we have passed are referred to as parameters. 
# Values can be passed to functions, then the functions perform a set of operations 
# and provide an output based on the given input. 
# More about parameters will be covered later in this session.

In [8]:
newtons_method(5,4)

2.625
2.2648809523809526
2.2362512514861397
2.2360679850099823
2.23606797749979

True

## 1.1 Using Built-in Functions

In [9]:
# Example 1
# Let's now see how to work with a few built-in python functions
# We will start learning about the max() built-in function
# 

# The max() function will return the item with the highest value as shown
# in the given arrays 
x = max([15, 20, 43, 33, 43])
print(x)

# Using the max() function, we can return the items with the highest value alphabetically
y = max(["Alice", "James", "Valerie"])
print(y)

43
Valerie

In [10]:
# Example 2
# Another built-in function that we can use is the type() function.
# Let's use it to return the data type of the specified object. 
#
w = 12.2
x = 100
y = ['Samsung', 'Sony', 'Panasonic']
z = "Upendo"

print(type(w))

# Find out the type of x
# OUR CODE GOES BELOW THIS LINE

# Find out the type of y
# OUR CODE GOES BELOW THIS LINE

# Find out the type of z
# OUR CODE GOES BELOW THIS LINE

<class 'float'>

In [0]:
# Example 3
# This is how we can also use the built in sum() function
# 

a = [232, 323, 434, 523, 323, 232] 
print(sum(a))

# As we have already mentioned, examples of other built - in python functions 
# include range(), str(), max(), min() etc.

### <font color="green">1.1 Challenges</font>

In [12]:
# Challenge 1
# Now that we have learnt to use some built-in functions, 
# Let's use the min() function to return the item with the lowest value below
#
min([4,5,6])

4

In [13]:
# Challenge 2
# Let's also round off the number 23.43 using the round() function
#
round(23.43)

23

In [14]:
# Challenge 3
# Lastly, let's give an example where the sorted() function can be used;
# Hint: Feel free to perform some external research 
# 
x=[3,55,66,43,12,33,41,11]
sorted(x)

[3, 11, 12, 33, 41, 43, 55, 66]

## 1.2 Creating a Function

We will now create functions. 

Below are steps that we can use to create a function: 

*  **Step 1**: We first declare the function with the keyword `def` followed by the function name and brackets.
*   **Step 2**: Add the program statements to be executed.
*   **Step 3** End the function with/without return statement.
*  **Step 4**: We will learn more about this step later in this session. If our function takes parameters, we write the arguments inside the opening and closing parentheses of the function, and end the declaration with a colon.

In [15]:
# Example 1
# To start, we will create a function to find out which 
# of two numbers is greater than the other 
# 

# we define it by giving it the name max_of_two
def max_of_two():
  
  # we then define our variables that will contain the numbers to be manipulated
  first_number  = 10
  second_number = 5
  
  # then we perform our operations i.e. in this case,
  # if first_number is greater than second_number etc.
  if first_number > second_number:
    
      # the return keyword allows us to provide back the result/output of our function
    return first_number
  
    # the return key word allows us to provide back the result/output of our function
  return second_number
 
# Lastly, we do the most important step; which is to call the function that 
# we have just created above. Calling allows us to use the function. 
# We have also been calling our built-in functions from the previous section.
#
max_of_two()

10

In [16]:
# Example 2
# Let's now create another function to find out the square of a certain number 
# 

# defining our function name
def square_of_number():
  
  # assigning 6 to our variable nuber 
  number = 6
  

  square_square_of_number = number ** 2
  
  # the return keyword allows us to provide back the result/output of our function
  return square_square_of_number

# now calling our function
square_of_number()

36

In [17]:
# Example 3
# Lastly, we create another function to sum all the numbers in a list a = [6, 5, 4, 3, 2, 1]
# 

def sum():
  a = [6, 5, 4, 3, 2, 1]
  total = 0
  
    # performing our operation by using a for loop to iterate through our list
  for x in a:
    
    # for each iteration we perform total = total + 1;  which can be simply be written as shown below
    total += x
    
  # Then lastly return our output which is to print out the value of the total variable 
  return print(total)

# Lastly we call the function in order to use it
sum()

21

### <font color="green">1.2 Challenges</font>

In [19]:
# Challenge 1
# Now that we have seen how to create functions, 
# let's create one that returns the maximum of two numbers;
#
def return_max(a,b):
  return max(a,b)

return_max(5,10)

10

In [0]:
# Challenge 2
# Let's write another function that tell us whether if a variable is between 3 and 10
#
def betweenThreeTen(a):
  if (a >=3 ):
    if (a<=10):
      print("Between")

In [24]:
betweenThreeTen(5)

Between

In [37]:
# Challenge 3
# Lastly, an online retailer provides express shipping 
# for many of its items at a rate of Ksh 200 
# for the first item, and Ksh. 25 for each subsequent item. 
# Write a function that takes the number of items in the order from the user. 
# Return the shipping charge for the order as the function’s result. 
#
number = int(input("Enter Number of items on order : "))
def shipping_charge(number):
  
  if number==1:
    result =200
    print("Shopping charge is " ,result )
  else:
    result = 200 + ((number-1 ) * 25)
    print("Shopping Charge is " ,  result)
    
shipping_charge(number)

Enter Number of items on order : 5
Shopping Charge is  300

## 1.3 Passing Parameters and Returning Values

In [18]:
# Example 1
# Parameters are variables that give to a function. The function later use the values 
# of those parameters which we call arguments to perform operations then return an output.
# The ability for functions to take in parameter is important because it allows 
# for code re-use in different contexts. 
# To see this, let's create a function that finds the average of two numbers a and b.
# These numbers a and b are referred to as parameters and their values are referred to arguements.
# The parameters will be provided to the function and the function will 
# perform the average and return the result of these operations as show.
# 

# Defining our function
def avg(a,b):
  
  # Performing the operation
  two_numbers_avg = (a + b)/2
  
  # Returning the result of our function
  return print(two_numbers_avg) 

# Calling our function with arguments
avg(2,4)

3.0

In [0]:
# Example 2
# Let's create another function that takes in the name and age of a person
# then prints out their name 
# 

def lastFirst(firstName, lastName):
    separator = ', '
    result = lastName + separator + firstName
    return print(result)
 
lastFirst('Tomanzi', 'Chitanda')

In [0]:
# Example 3
# Let's create another function that calculates the area of a cirlce when
# the value radius is passed to the function
# 

def circleArea(radius):
    area = 3.14 * radius * radius 
    return print(area)
  
# Calling our function and passing an argumement
circleArea(4)

### <font color="green">1.3 Challenges</font>

In [0]:
# Challenge 1
# Write a function that determines how many days there are in a particular month. 
# Your function will have two parameters: The month as an integer between 1 and 12, 
# and the year as a four digit integer. 
# Ensure that your function reports the correct number of days in February for leap years.
# 
def how_many_days(month,year):
  if (year%4==0) & (month ==2):
    print("The month had 29 days")
  if ((month==1) | (month==3) | (month==5) | (month==7) | (month==8) | (month==10) | (month==12)):
    print("The month has 31 days")
  if ((month==4) | (month==6) | (month==9) | (month==11)):
    print("The month has 30 days")

In [62]:
how_many_days(2,2004)

The month had 29 days

In [0]:
# Challenge 2
# In a particular company, taxi fares consist of a base fare of Ksh.200, 
# plus Ksh.25 for every 140 meters traveled. 
# Write a function that takes the distance traveled (in kilometers) 
# as its only parameter and returns the total fare as its only result.
#
def total_fare(distance):
  base = 200
  result1= distance/140
  result2= result1 *25
  total= result2 + base
  print("Your total is ")
  return round(total)

In [68]:
total_fare(550)

Your total is

298

In [72]:
# Challenge 3
# A particular cell phone plan includes 20 minutes of air time and 20 text messages 
# for Ksh. 50.00 a month. Each additional minute of air time costs Ksh. 3.00, 
# while additional text messages cost Ksh. 2.00 each. 
# The entire bill (including the 999 charge) is subject to 16 percent VAT tax.
# Write a program that reads the number of minutes and text messages used in a month from the user. 
# Display the base charge, additional minutes charge (if any), 
# additional text message charge (if any), tax and total bill amount. 
# Only display the additional minute and text message charges if the user incurred costs in these categories. 
# Ensure that all of the charges are displayed using 2 decimal places.
#
minutes = int(input("Enter number of minutes : "))
texts = int(input("Enter number of texts : "))

def charges(minutes, texts):
  
  base_charge = 999
  print("base charge is : " , base_charge)
  
  if(minutes<= 20) & (texts<=20):
    charge=50
    result = base_charge + charge
    result = 0.84 * result
    print("Total charge after tax is : " ,result)
    
  if(minutes >20) & (texts<20):
    charge = 50
    minutes = minutes - 20
    minutes = minutes *3
    result = base_charge + (minutes) + charge
    result = 0.84 * result
    print("Additional minutes charge is : " , minutes)
    print("Total charge after tax is : " , result)
    
  if(minutes<= 20) & (texts>20):
    charge = 50
    texts = texts - 20
    texts = texts * 2
    result = charge + base_charge + texts
    result = 0.84 * result
    print("Additional texts charge is : " , texts)
    print("Total charge after tax is : " , result)
    
charges(minutes,texts)

Enter number of minutes : 30
Enter number of texts : 10
base charge is :  999
Additional minutes charge is :  30
Total charge after tax is :  906.36