<a href="https://colab.research.google.com/github/yahyalito/pythonwork/blob/master/Copy_of_Copy_of_Python_Programming_Variables%2C_Printing%2C_Comments%2C_Operators_and_Input.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Variables, Printing, Comments, Operators and Input

<font color="green">*To start working on this notebook, or any other notebook that we will use in this course, we will need to save our own copy of it. We can do this by clicking File > Save a Copy in Drive. We will then be able to make edits to our own copy of this notebook.*</font>

---

## 1.0 Introduction

Python is a programming language that is popularly used for data science. In this section we will get to learn the basics of the python programming language. More specifically, we will get to learn about printing, comments, variables operators and Input.

---

Let's now swiftly begin to write code. Code is a set of instructions that a programmer writes so as to perform a particular task. Code can be written to perform calculations, move a robotic arm, perform analysis etc. During the course of the Moringa Data Science program, we will write alot of code and and this will help you become more confortable at solving a diverse of data science problems. 

We will also be using Colaboratory, which is an environment that we can use to run our code. This will eliminate the need to spend alot of time installing and configuring your environment and help you spend more time on learning how to write effective code.

The page that we are currently using is called a notebook, while the different sections of this notebook are called cells. The cells can be either code or text. In order to start using a ready created notebook just like this one, we will have to first save a copy of this note book on drive i.e. visit File > Save a copy in Drive. This will allow us to have our own copy of the notebook and update any changes we want for example adding code. 

In order to run our code as shown in the example below, we can drag our mouse to the left of the cell and click on the circular icon with a triangle pointing to the right. Alternatively, we can click inside the cell which we want to run, then press shift+return buttons on our keyboard, all at the same time.

In [0]:
# Example 1
# 
print("I just ran my first python code")

Don't worry, the first run of the code will take a few seconds to run. Thereafter, the running of our code will be much more faster. As we have also seen, our code is displayed at the bottom of the cell. This section of the cell is called the console and its where the output of our code will always be displayed.

## 1.1 Printing

The second thing that you must have noted in that line of code that we've just ran, is the keyword "print". This keyword is meant to print out any text that goes into the following parenthesis. By printing out, we mean outputing our code in the console.  As we continue learning python, we will also come across other keywords that are used to perform different tasks. Such keywords which have two brackets as print() are called functions. In the above example, we used the function print(). We shouldn't now worry about what these functions are as we will learn about them later in the course.

### <font color = 'green'> 1.1 Challenges</font>

In [0]:
# Challenge 1:
# Let's now print out your name in the console of this cell.
# Replace the text "OUR CODE GOES HERE" with the code that you will write 
# and do likewise to the following examples.
#

print("Ibrahim Yahya")

Ibrahim Yahya

In [0]:
# Challenge 2:
# Let's print "I am a Moringa Data Science Student" below
#

print("I am a Moringa Data Science Sudent")

I am a Moringa Data Science Sudent

In [0]:
# Challenge 3:
# Print out the sum of 44 and 22 below
# NB: We need to see 44 + 22 in our code 
# 

print(44+22)

66

## 1.2 Comments

In this section, we will learn about another key concept of programming - Comments. 

Programmers and Data Scientists use comments to explain what their code means. These comments are acually pieces of code that do not get translated by the computer. We will use them as helpful messages that we leave within our code. 

Comments are created by putthing a hash character(#) before the line we would like the computer to ignore. By doing that we would say that we have commented out that line. 

For example, in the cell below, the first line is the commented out line in the code. It explains what the following code means.

In [0]:
# Example 1
# The code below will print out the statement "I already love Python". 
# Let's press the shortcut shift + return (enter button) at the same time
# to run the code in this cell. 
# 
print 'I already love Python'

Good! Let's now comment out the code in the following cell and later run the code. By uncommenting we mean removing the last line # character before print.

In [0]:
# Example 2
#
 print("My home is Kenya, all wild and wonderful!")

My home is Kenya, all wild and wonderful!

If we'd like to make multiline comments, we can also use the # character as shown below:

In [0]:
# Example 3
# The following line of code prints out 
# "I have just began my Data science journey" in the console
# 
print("I have just began my data science journey")

### <font color = 'green'> 1.2 Challenges</font>

In [0]:
# Challenge 1:
# We now add multiline comments that explain what happens to a line 
# that prints out the name of your home town below 
# 

# prints the name
# of hometown

In [0]:
# Challenge 2:
# Add comments to the program below. Add comments in two lines. 
# 

# stores hello Brenda! in a
a = "Hello Brenda!"

# print contents of a
print(a)

Hello Brenda!

In [0]:
# Challenge 3:
# Run the code below then try to figure out what happens.
# Then from your understanding, provide a documentation to the program
# NB: By documentation we mean add comments to the program 
# to help the reader to understand the program.
# Hint: Explain each line of the program.
#

# creates a list with all months in a year
months = ['January', 'February', 'March', 'April', 'May', 'June', 'July','August','September','October', 'November','December']

# create a function that takes months variable as a parameter
def showCalender(months):
  
#loop through every element in the months list and print it
  
    for month in months:
      
        print(month)
        
        
#run the function with months list as parameter        
showCalender(months)

January
February
March
April
May
June
July
August
September
October
November
December

## 1.3 Variables

The next thing we will learn is a variable. This is simply a container that we can use to store a value. This value can be a number, a character, a string (which is just a set of characters), a list (we will learn this, a dictionary - we will also learn this), etc.

In python, we would create a variable and store a value at the same time, just as shown in the following example.

In [0]:
# Example 1
# We store the value 10 in a variable p. In programming we say that "we are assigning the value 10 to p"
# Running this cell won't output anything. Why? You can discuss this with your peer. 
# If you haven't figure it out, then go on to the next example and you'll know why
#
p = 10

In [0]:
# Example 2
# So as to create a variable we use the equals sign; =, like in the example below. 
# This sign is usually regarded to what is called an assignment operator.
# How do we say what is happening to 5 and x below? We've learned this in
# the previous example.
# 
x = 5

# Because we have assigned the value 5 to x, 
# we now need to print out and see whether x has that value. 
# Lets print out x below this line using the print() function below
#
print(x)

5

In [0]:
# Example 3
# Nice, Work now on this challenge: 
# Create a savings variable with the value 1000 
#

savings = 1000

# Then print this savings variable below this line;

print(savings)

1000

In [0]:
# Example 4
# Now uncomment the below lines to print a, 
# then later uncomment b = 5 and later uncomment print(b)
# Do note what happens
#

a = 10

print(a)

b = 5

print(b)

10
5

### <font color = 'green'>  1.3 Challenges </font>

In [0]:
# Challenge 1
# Assign the book Harry Potter and the Deathly Hollows to the variable author
#
author = "Harry Potter and the Deathly Hollows"

In [0]:
# Challenge 2
# Fix the following code the run the cell
#

quote =  "Einstein"

In [0]:
# Challenge 3
# Fix the following code the run the cell
#
second_number = 400

## 1.4 Operators

In [0]:
# Example 1
# In this section, we are going to use the variable a and b to perform 
# some arithmetic operations. Variable values or the variables from the above cell are retained 
# and can be used with the values that they were assigned to. 
# We will learn more about this when we run the lines below.
# Let's run this cell once then 
# Uncomment the lines below to see the effect for multiplication, division and substraction 
#

print(a + b)

print(a * b)

print(a / b)

print(a - b)

15
50
2.0
5

In [0]:
# Example 2
# What would happen if we assigned the value of a + b to a. 
# Then try to come up with the answer in your mind 
# before uncommenting the line below;
# 

a = a + b

print(a)

15

In [0]:
# Example 3
# Nice. Now we will introduce a rather unfamiliar operator that we normally use in python.
# This operator is called the increment operator 
# 

a += b

print(a)

# Try using the decrement operator below. The increment operator is -=

a -=b

25

As you have seen, python is perfectly suited to do basic calculations. Apart from addition, subtraction, multiplication and division, there is also support for more advanced operations such as:


*   Exponentiation:  This operator raises the number to its left to the power of the number to its right. For example 4**2 will give 16.
*   Modulo: %. This operator returns the remainder of the division of the number to the left by the number on its right. For example 18 % 7 equals 4.

In [0]:
# Example 4
# Lets uncomment the lines below to Exponentiation and then 
#

print(18 % 7)
print(4 ** 2)

4
16

### <font color = 'green'> 1.4 Challenges </font>

In [0]:
# Challenge 1
# Three persons have three notes of Ksh.50, Ksh.100 and Ksh.500.
# Create three variables; person 1, person 2 and person 3 then 
# Find out the average of their money and display it below.
# 
person_1 = 50
person_2 = 100
person_3 = 500

average = (person_1 + person_2 + person_3)/ 3
print(average)

216.66666666666666

In [0]:
# Challenge 2
# An online shop sells designer jeans and t-shirts. 
# Each jeans costs Ksh. 4500 and t-shirt costs Ksh. 2500.
# Calculate the cost below if you were to buy 3 pairs of jeans and 6 t-shirts
# using variables and operators.
#
jeans = 4500
t_shirt = 2500

print ((3* jeans ) + (6 * t_shirt))

28500

In [0]:
# Challenge 3
# We have Ksh 1000, which you invest with a 10% return each year. 
# After one year, it's 1000 × 1.1 = 1100 shillings, and after two years 
# it's 1000 × 1.1 × 1.1 = 121. 
# Now, write code below to calculate how much money 
# you would end up with after 7 years.
# How much is your Ksh. 1000 worth after 15 years?
# ----------
# Hint: Instead of calculating with the actual values, you can use variables instead. 
# The savings variable you've created in the previous exercise represents the Ksh 1000 you started with. 
# It's up to you to create a new variable to represent 1.1 and then redo the calculations!
# ----------

# We can recreate the savings variable that we will use below
#
savings = 1000

# and create a growth_multiplier variable that is equal to 1.1.
interest_rate = 1.1
# Then create a result variable and equal it to the amount of money you saved after 7 years.

result = savings * (interest_rate ** 7)


# Then print out the value of result below
print(result)

1948.7171000000012

## 1.5 Input

In [0]:
# Example 1
# The input() function allows for user input as shown
# 
g = input("Enter a number: ") 

print (g + 2)

Enter a number: 2

TypeError: ignored

In [0]:
# Example 2
# Lets get the sum of two numbers from a user's input
# 
x = input('Enter the first number: ')
y = input('Enter the second number: ')

print(x + y)

Enter the first number: 1
Enter the second number: 2
12

In [0]:
# Example 3
# Let's get the name and age of the user 
#

# Prompting the user to tell us their name and displaying their name
name = input("What's your name? ")
print("Nice to meet you " + name + "!")

# Prompting the user to tell use their age 
age = input("Your age? ")

# Displaying both their name and age
# Hint: Try to remove str() and see what happens. We will learn more about datatype conversion later()
# 
print("So, you are already " + str(age) + " years old, " + name + "!")

What's your name? yahya
Nice to meet you yahya!
Your age? 22
So, you are already 22 years old, yahya!

### <font color = 'green'>  1.5 Challenges </font>

In [0]:
# Challenge 1
# Many people around the world think about their height in feet and inches 
# even here in Africa where many countries use the metric system. 
# Write a program reads the height in metres then converts it to
# feet and inches. The program should display the equivalent 
# height in feet and height.
# NB: You can look up the necessary conversion factors on the web.
#
height_in_meters =int(input("Enter the number"))
height_in_feet = height_in_meters * 3.2808
#remainder_height_in_inches = (height_in_meters % 3.2808)/0.0833)
#height_in_feet_and_inches =  (height_in_feet "feet"  + height_in_inches + "inches" )

print(height_in_meters)
print(height_in_feet)

Enter the number200
200
656.1600000000001

In [0]:
# Challenge 2
# Given a certain column of data that has radius, a data scientist would like
# to compute the volume the respective cylinder and save the result to a new column.
# Thus, write a program that reads the radius of cylinder, along with its height 
# from the user to calculate the volume in the console.
#

import math
radius , height =input().split()
volume = 2 * int(math.pi) * int(radius) * int(height)
print(volume)

3 33
594

In [0]:
# Challenge 3
# While paying for her parking fee of Ksh. 50 , Jane inserts a Note into 
# the paying machine and gets back her change. 
# Write a program that reads as input the note greater than Ksh. 200 
# and returns change in notes of 100 and 50.
# Use the knowledge of variables to printing, comments, operators 
# and input to print the no of denominations given
# 

while True:
  try:
    denomination = int(input())
    if denomination < 200:
      raise ValueError 
    break 
 # except ValueError
    print("Invalid : Number should be greater than 200")

    hundred =int(denomination /100)
    fifty = int((denomination % 100)/50)

#result = hundred + " one hundred notes" + fifty + "fifty shilling notes"
    print(str(hundred) + " one hundred shilling notes")
    print(str(fifty) + " Fifty shilling notes")

    
#new comment

SyntaxError: ignored