<a href="https://colab.research.google.com/github/yahyalito/pythonwork/blob/master/python_data_types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Challenge 1
# Write a value with an Integer data type 
# 
55

55

In [2]:
# Challenge 2 
# Write any value with a Float Data Type 
# 
3.142

3.142

In [3]:
# Challenge 3
# Write any value with a String Data Type 
# 

"My name is"

'My name is'

In [8]:
# Challenge 4 
# Now lets find out the type of our value in Challenge #1 ,2 ,3
#


type("My name is")

str

In [9]:
type(3.142)

float

In [10]:
type(55)

int

In [11]:
# Challenge 8 
# What is the type of the result of: 6 // 2? (Note the double slash //.)
#
type(6//2)

int

In [13]:
# Challenge 9
# What do you think is the output of type(a)? Run this cell and check
# 
a = "Learning Data Science is Easy" 
a = 3
type(a)

int

In [14]:
# Challenge 10
# What do you think is the output of this cell? 
# Think about it then run it.
#

# answer should be true
type(3.2) == float

True

In [15]:
# Challenge 1
# What happens when we verify a positive number i.e 43
#
type(34)

int

In [16]:
# Challenge 2

# Let's verify zero below 

# 
type(0)

int

In [17]:
# Challenge 1 
# Let's now verify 0.7
#
type(0.7)

float

In [18]:
# Challenge 2
# Verifying the type of 0.53
# 
type(0.53)

float

In [20]:
# Challenge 1 
# What happens when we run 'true' in this cell
#
True

True

In [23]:
# Challenge 2
# What about what happens when we run 'false' in this cell
#
False

# in small caps it is not recognized as a keyword

False

In [24]:
# Challenge 3
# Let's also find out type of False in this cell
#
type(False)

bool

In [25]:
int(1.8)

1

In [26]:
round(1.8)

2

In [27]:
# Challenge 1
# And there is no reason why we shouldn't be able to make floats into strings as well:
# Converting a float 1.2 to a string
#
str(1.2)

'1.2'

In [28]:
# Challenge 2
# How do you convert a digit 6/4 into a string?
# 
str(6/4)

'1.5'

In [29]:
# Challenge 1
# Let's convert the value of True to an integer
# 
int(True)

1

In [30]:
# Challenge 2
# What happens when we cast a 0 to a Boolean?
# 
bool(0)

False

In [31]:
# Challenge 3 
# Let's cast a boolean with a value of True to an integer
# 
int(True)

1